@import "~bootstrap/scss/bootstrap";

.app {
  margin-bottom: 4em;
}

.app-navbar {
  margin-bottom: map-get($spacers, 5);
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  margin-left: map-get($spacers, 2);

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}
