.create__workout-name-input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  outline: none;
  margin-bottom: 2rem;
}

.create__workout-set {
  margin-bottom: 1rem;
}

.create__new-workout-set-button {
  margin-bottom: 1rem;
}