.workout-summary__set {
  &--finished {
    color: grey;
  }

  &--skipped {
    background: lightgrey;
    color: grey;
    text-decoration: line-through;
  }

  &--snoozed {
    background: lightgoldenrodyellow;
    color: grey;
  }

  &--current {
    font-weight: bold;

    &:before {
      content: '>';
      margin-right: 0.5rem;
    }
  }

  &__notes {
    font-style: italic;
    font-size: .9rem;
    color: grey;

    &:before {
      content: '"';
    }

    &:after {
      content: '"';
    }
  }
}